.travelcont{
    margin-left: 30px;
    margin-right: auto;
    margin-bottom: 10rem;
    background-color: lightgray;
}
#maintrav{
    color: #0081f9;
    font-weight: 900;
    font-size: 2.5em;
    text-align: center;
    background-color: white;
    padding: 3rem;

}
#txt{
    color: #0081f9;
    font-weight: 900;
    font-size: 2em;
    margin-left: 5rem;
}
#content{
    font-size: 1.3em;
    font-weight: 300;
    margin-left: 5rem;

}
.card-container{
    justify-content: space-around;
    width: 70%;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    margin-bottom: 40px;
}
.card{
    background-color: transparent;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 0px;
    text-align: left;
} 
.card:hover{
    transform:scale(1.1);
    z-index:2;
    transition: all 0.3s ease-in-out; 
}
.card img{
    overflow: content-box; 
    object-fit: cover;  
    width: 100%;
    height: 44rem;
    width: 34rem;
    margin: auto;
    background: transparent;
    opacity: 1;
    transition: opacity 0.35s;
    border-style: solid ;
    /* border-color:black; */
}
.card-img-overlay{
    position: absolute;
    top: 30px;
    bottom: 30px;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 700;
    margin: auto;
    height: 100%;
    content: '';
    opacity: 1;
    background-color: rgba(27,27,27, 0.8);
    opacity: 0.8;
    transition: .5s;
    /* -webkit-transition: all 0.5s;
    transition: all ease-in-out 0.5s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s; */
}
.card-img-overlay h2{
    margin: 10px;
    font-size: 40px;
    color: #fafafa;
    position: absolute;
    top: 13rem;
    -webkit-transition: all 0.5s;
    transition: all ease-in-out 0.5s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.card-img-overlay > .htxt{
    font-size: 1.5em;
    /* color: black; */
}
.card-img-overlay p{
  position: relative;
  top: 14rem;
  visibility: hidden;
  opacity: 0;
  width: auto;
  font-size: 0.8em;
  font-weight: 900;
}
.card-img-overlay:hover > .htxt{
    font-size: 1.5em;
    /* color: black; */
}
.card:hover .card-img-overlay p{
    opacity: 1;
    position: relative;
    top: 18rem;
    margin: 10px;
    /* background: black; */
    visibility: visible;
    opacity: 1;
    color: #fafafa;
    /* background: rgba(30,30,30); */
}
.card:hover img{
    transform: scale(1.1) rotate(-3deg);
}
.v-btn{
    position: relative;
    top: 24rem;
    /* float: left; */
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
  }
  .v-btn{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  .v-btn:before,
  .v-btn:after{
    position: absolute;
    content: "View";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .v-btn:before{
    color: #fff;
    background: #0081f9;
    transform: rotateY(0deg) translateZ(25px);
  }
  .v-btn:after{
    color: #ffff;
    background-color:transparent ;
    transform: rotateX(90deg) translateZ(25px);
  }
  .v-btn:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
